:root {

}

* {
    box-sizing: border-box;
}

#unitName {
    text-align: center;
    width: 100%;
}

#someInformation {
    width: 100%;
    background-color: var(--bg-color3);
    border: 1px solid var(--border-color3);
    border-radius: 4px;
    padding: 2px;
}

#readTimeDiv {
    background: #ebe1e1;
    padding: 4px;
    border-radius: 4px;
}

h3 {
    text-transform: uppercase;
}

h4 {
    text-decoration: underline;
}

dt {
    font-weight: bold;
}

dd {
    font-style: italic;
    margin-left: 4ch;
}

.example {
    border: 1px solid greenyellow;
    padding: 2px 12px;
}

.question {
    color: red;
    font-weight: bold;
}

.answer {
    color: blue;
    font-weight: bold;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr, td, th {
    border: 1px solid black;
    padding: 4px 8px;
}

li {
    margin: 12px 4px;
}